
TextualRealityExperienceEngine/\.vs/TextualRealityExperienceEngine/xs/sqlite3/

TextualRealityExperienceEngine/\.vs/TextualRealityExperienceEngine/xs/

TextualRealityExperienceEngine/GameEngine/obj/Debug/netstandard2\.0/

TextualRealityExperienceEngine/GameEngine/obj/

TextualRealityExperienceEngine/Compiler/obj/

TextualRealityExperienceEngine/Compiler/bin/Debug/netstandard2\.0/

TextualRealityExperienceEngine/GameEngine/bin/Debug/netstandard2\.0/

TextualRealityExperienceEngine/Tests\.Unit\.GameEngine/bin/Debug/netcoreapp2\.0/

TextualRealityExperienceEngine/Tests\.Unit\.GameEngine/obj/Debug/netcoreapp2\.0/

TextualRealityExperienceEngine/Tests\.Unit\.GameEngine/obj/

TextualRealityExperienceEngine/Tests\.Unit\.GameEngine/Tests\.Unit\.Compiler/bin/Debug/netcoreapp2\.0/

TextualRealityExperienceEngine/Tests\.Unit\.GameEngine/Tests\.Unit\.Compiler/obj/Debug/netcoreapp2\.0/

TextualRealityExperienceEngine/Tests\.Unit\.Compiler/bin/Debug/netcoreapp2\.0/

TextualRealityExperienceEngine/Tests\.Unit\.Compiler/obj/Debug/netcoreapp2\.0/

TextualRealityExperienceEngine/Tests\.Unit\.Compiler/obj/

TextualRealityExperienceEngine/\.DS_Store

TextualRealityExperienceEngine/\.idea/\.idea\.TextualRealityExperienceEngine/\.idea/

TextualRealityExperienceEngine/\.idea/\.idea\.TextualRealityExperienceEngine/

\.DS_Store

*.dll

TextualRealityExperienceEngine/Tests\.Unit\.Compiler/bin/Debug/netcoreapp2\.1/

TextualRealityExperienceEngine/Tests\.Unit\.GameEngine/bin/Debug/netcoreapp2\.1/

TextualRealityExperienceEngine/Tests\.SimpleGame/bin/Debug/netcoreapp2\.1/

*.pdb

TextualRealityExperienceEngine/Tests\.SimpleGame/obj/

TextualRealityExperienceEngine/Tests\.Integration\.GameEngine/bin/Debug/netcoreapp2\.1/

TextualRealityExperienceEngine/Tests\.Integration\.GameEngine/obj/Debug/netcoreapp2\.1/

TextualRealityExperienceEngine/Tests\.Integration\.GameEngine/obj/

TextualRealityExperienceEngine/GameEngine/bin/Debug/

TextualRealityExperienceEngine/Tests\.Integration\.GameEngine/bin/Debug/netcoreapp2\.2/

TextualRealityExperienceEngine/Tests\.Unit\.GameEngine/bin/Debug/netcoreapp2\.2/

TextualRealityExperienceEngine/Tests\.SimpleGame/bin/Debug/netcoreapp2\.2/

TextualRealityExperienceEngine/Tests\.SimpleGame\.Library/bin/Debug/netstandard2\.0/

TextualRealityExperienceEngine/Tests\.SimpleGame\.Library/obj/Debug/netstandard2\.0/

TextualRealityExperienceEngine/Tests\.SimpleGame\.Library/obj/

TextualRealityExperienceEngine/Tests\.SimpleGame\.Library/bin/Debug/netcoreapp2\.2/

TextualRealityExperienceEngine/Tests\.Unit\.SimpleGame/bin/Debug/netcoreapp2\.2/

TextualRealityExperienceEngine/Tests\.Unit\.SimpleGame/obj/Debug/netcoreapp2\.2/

TextualRealityExperienceEngine/Tests\.Unit\.SimpleGame/obj/

TextualRealityExperienceEngine/\.vs/

TextualRealityExperienceEngine/Tests.Integration.GameEngine/bin/Debug/netcoreapp3.0/

TextualRealityExperienceEngine/Tests.SimpleGame.Library/bin/Debug/netcoreapp3.0/

TextualRealityExperienceEngine/Tests.SimpleGame/bin/Debug/netcoreapp3.0/

TextualRealityExperienceEngine/Tests.Unit.GameEngine/bin/Debug/netcoreapp3.0/

TextualRealityExperienceEngine/Tests.Unit.SimpleGame/bin/Debug/netcoreapp3.0/

TextualRealityExperienceEngine/TextProcessing/bin/Debug/netstandard2.1/

TextualRealityExperienceEngine/TextProcessing/obj/

TextualRealityExperienceEngine/GameEngine/bin/Release/TextualRealityExperienceEngine.1.0.3.nupkg

TextualRealityExperienceEngine/Tests.SimpleGame.Library/bin/Release/netcoreapp3.0/

TextualRealityExperienceEngine/Tests.SimpleGame/bin/Release/netcoreapp3.0/

TextualRealityExperienceEngine/Tests.SimpleGame/Tests.SimpleGame.csproj 2.user

*.user

TextualRealityExperienceEngine/Tests.Unit.TextProcessing/bin/Debug/netcoreapp3.1/

TextualRealityExperienceEngine/Tests.Unit.TextProcessing/obj/Debug/netcoreapp3.1/

TextualRealityExperienceEngine/Tests.Unit.TextProcessing/obj/

*.icloud

TextualRealityExperienceEngine/Utilities/obj/Debug/netstandard2.1/

TextualRealityExperienceEngine/Utilities/obj/

TextualRealityExperienceEngine/Utilities/bin/Debug/netstandard2.1/
