
TextualRealityExperienceEngine/\.vs/TextualRealityExperienceEngine/xs/sqlite3/

TextualRealityExperienceEngine/\.vs/TextualRealityExperienceEngine/xs/

TextualRealityExperienceEngine/GameEngine/obj/Debug/netstandard2\.0/

TextualRealityExperienceEngine/GameEngine/obj/

TextualRealityExperienceEngine/Compiler/obj/

TextualRealityExperienceEngine/Compiler/bin/Debug/netstandard2\.0/

TextualRealityExperienceEngine/GameEngine/bin/Debug/netstandard2\.0/
